@(message: String)

@main("Welcome to betterrev", true, false) {
    
    <p>Welcome to betterrev - an attempt to make webrevs more human friendly.</p>
    
    <a href="/revs/">See a list of revs</a>

}
