@(revs: List[Rev])

@main("Open revs: betterrev", false, true) {
    
    <table>
        <thead>
            <th>Name</th>
            <th>Github</th>
        </thead>
        <tbody>
        @for(rev <- revs) {
            <tr>
                <td>@rev.name</td>
                <td><a href="@rev.githubWebpage">link</a></td>
            </tr>
        }
        </tbody>
    </table>

}
